body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f7f5f3;
}

.header,
.footer {
  background-color: #563d2d;
  color: white;
  padding: 1rem;
  text-align: center;
}

.header nav a,
.footer a {
  color: white;
  margin: 0 1rem;
  text-decoration: none;
}

main {
  padding: 2rem;
}

section h1,
section h2 {
  color: #563d2d;
}

button {
  background-color: #8b5e3c;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

button:hover {
  background-color: #a66f4b;
}

.logo img {
  width: 100px; /* Adjust as needed */
  height: auto;
}
